@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/RobotoSlab-VariableFont_wght.ttf") format("woff");
}

.Inicio {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .platos-container {
    flex: 1;
    padding-right: 20px;
    border-right: 1px solid #ccc;
  }
  
  .platos-container h2 {
    margin-bottom: 10px;
  }
  
  .platos-container ul {
    list-style: none;
    padding: 0;
  }
  
  .platos-container li {
    margin-bottom: 20px;
  }
  
  .platos-container p {
    margin: 0;
  }
  
  .platos-container img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .platos-container button {
    padding: 8px 16px;
    background-color: #e16d14;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }
  
  .gridAbajo{
    display: grid;
    grid-template-columns: auto 30%;
    font-family: Glacial Indifference;
  }

  .gridAbajo .recipe-desco{
    font-weight: 500;
    font-size: 26px;
    text-align: end;
    margin-right: 15px;
  }

  .orden-container {
    flex: 1;
    padding-left: 20px;
  }
  
  .orden-container h2 {
    margin-bottom: 10px;
  }
  
  .grid-orden {
    display: grid;
  }
  
  .orden-item {
    display: grid;
    align-items: center;
    grid-template-columns: 20% 40% 20% 20%;
    padding: 20px 0px 15px 0;
    margin: 0 20px;
    margin-bottom: -6px;
    border-bottom:0.5px solid rgba(181, 181, 181, 0.649) ;
    font-family: Glacial Indifference;
  }
  
  .orden-item p {
    margin: 0;
    font-family: Glacial Indifference;
    font-size: 18px;
  }
  
  .orden-item button {
    padding: 4px 8px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Glacial Indifference;
  }
  
  .eliminar-platos {
    margin-top: 20px;
  }
  
  .eliminar-platos p {
    margin-bottom: 10px;
  }
  
  .eliminar-platos input {
    width: 60px;
  }
  
  .eliminar-platos button {
    padding: 4px 8px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .total-orden {
    margin-top: 20px;
    right: 0;
  }
  
  .no-platos {
    text-align: center;
    margin-top: 20px;
    color: #aaa;
  }
  
  .recipe,
  .pizza-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .pizza-box {
    flex: 3 1 30ch;
    height: calc(282px + 5vw);
    overflow: hidden;
  }
  
  .pizza-box img {
    max-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    object-position: 50% 50%;
  }
  
  .recipe {
    border: 2px solid #F2F2F2;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .recipe-content {
    padding: 16px 32px;
    flex: 4 1 40ch;
  }
  .recipe-content2 {
    padding: 16px 32px;
    flex: 4 1 40ch;
  }
  
  .recipe-tags {
    margin: 0 -8px;
  }
  
  .recipe-tag {
    display: inline-block;
    margin: 8px;
    font-size: .875em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .02em;
    color: var(--primary);
  }
  
  .recipe-title {
    margin: 0;
    font-size: clamp(1.4em, 2.1vw, 2.1em);
    font-family: Glacial Indifference;
    margin-bottom: 10px;
  }
  
  .recipe-title a {
    text-decoration: none;
    color: inherit;
  }
  
  .recipe-metadata {
    margin: 0;
  }
  
  .recipe-rating {
    font-size: 1.5em;
    letter-spacing: 0.05em;
    color:#f1bb0b
  }
  
  .recipe-rating span {
    color: var(--grey);
  }
  
  .recipe-votes {
    font-size: .825em;
    font-style: italic;
    color: var(--lightgrey);
  }
  
  .recipe-save {
    display: flex;
    align-items: center;
    padding: 6px 14px 6px 12px;
    border-radius: 4px;
    border: 2px solid currentColor;
    color: var(--primary);
    background: none;
    cursor: pointer;
  }
  
  .recipe-save svg {
    margin-right: 6px;
  }
.recipe-desc{
  margin: 0;
  font-size: clamp(0.5em, 1vw, 1em);
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
}

#descripcion{
  margin-top: 10px;
  margin-bottom: -15px;
}

.recipe-desc2{
  margin: 0;
  font-size: clamp(0.7em, 1.2vw, 1.3em);
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: bold;
}



/* Estilo para cada elemento 'li' en la lista */
.platos-container li {
  display: flex;
  align-items: center;
}

/* Estilo para la imagen en cada elemento 'li' */
.platos-container li img {
  flex: 1; /* La imagen ocupará el 50% del espacio disponible */
  width: 250px;
  height: 150px;
  object-fit: cover;
  object-position: 50% 50%;
  margin:0 20px;
  border-radius: 5px;
}

/* Estilo para el contenido de la receta en cada elemento 'li' */
.platos-container li .recipe-content {
  flex: 1; /* El contenido ocupará el otro 50% del espacio disponible */
  padding-left: 20px; /* Añade un espacio entre la imagen y el contenido */
}


.Inicio h2 {
  border: 2px solid #f3a34d;
  border-radius: 8px;
  padding: 8px 16px;
  text-align: center;
  margin: 0;
  flex: 1;
}

/* PLATOS  */


/* Estilo para los botones */
.AgregarPlato,
.Plato button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  background-color: #eab740;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: clamp(0.3em, 0.9vw, 1.2em);
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;

}

/* Estilo para el efecto hover en los botones */
.AgregarPlato:hover,
.Plato button:hover {
  background-color: #e7a139;

}

.Platos-en-Orden{
  background: white;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 0 2px 3px rgba(159, 159, 159, 0.436);
}

.Platos-en-Orden p{
  text-align: center;
}

.Cliente{
  display: flex;
}

.Cliente p{
  margin-left: 15px;
}