@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/RobotoSlab-VariableFont_wght.ttf") format("woff");
}

.Inicio {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .platos-container {
    flex: 1;
    padding-right: 20px;
    border-right: 1px solid #ccc;
  }
  
  .platos-container h2 {
    margin-bottom: 10px;
  }
  
  .platos-container ul {
    list-style: none;
    padding: 0;
  }
  
  .platos-container li {
    margin-bottom: 20px;
  }
  
  .platos-container p {
    margin: 0;
  }
  
  .platos-container img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .platos-container button {
    padding: 8px 16px;
    background-color: #e16d14;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }
  
  .gridAbajo{
    display: grid;
    grid-template-columns: auto 30%;
    font-family: Glacial Indifference;
  }

  .gridAbajo .recipe-desco{
    font-weight: 500;
    font-size: 26px;
    text-align: end;
    margin-right: 15px;
  }

  .FixOrden{
    position: sticky;
    top: 80px;
    min-height: 53vh;
    height: auto;
  }

  .orden-container {
    flex: 1;
    padding-left: 20px;
  }
  
  .orden-container h2 {
    margin-bottom: 10px;
  }
  
  .grid-orden {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-items: center;
  }
  
  .orden-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .orden-item p {
    margin: 0;
    font-family: Glacial Indifference;
    font-size: 18px;
  }
  
  .orden-item button {
    padding: 4px 8px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Glacial Indifference;
  }
  
  .eliminar-platos {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .eliminar-platos p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .eliminar-platos input {
    width: 100px;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .eliminar-platos button {
    padding: 4px 8px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .total-orden {
    margin-top: 20px;
  }
  
  .total-orden h3 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .no-platos {
    text-align: center;
    margin-top: 20px;
    color: #aaa;
  }
  
  .recipe,
  .pizza-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .pizza-box {
    flex: 3 1 30ch;
    height: calc(282px + 5vw);
    overflow: hidden;
  }
  
  .pizza-box img {
    max-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    object-position: 50% 50%;
  }
  
  .recipe {
    border: 2px solid #F2F2F2;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .recipe-content {
    padding: 16px 32px;
    flex: 4 1 40ch;
  }
  .recipe-content2 {
    padding: 16px 32px;
    flex: 4 1 40ch;
  }
  
  .recipe-tags {
    margin: 0 -8px;
  }
  
  .recipe-tag {
    display: inline-block;
    margin: 8px;
    font-size: .875em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .02em;
    color: var(--primary);
  }
  
  .recipe-title {
    margin: 0;
    font-size: clamp(1.4em, 2.1vw, 2.1em);
    font-family: Glacial Indifference;
    margin-bottom: 10px;
  }
  
  .recipe-title a {
    text-decoration: none;
    color: inherit;
  }
  
  .recipe-metadata {
    margin: 0;
  }
  
  .recipe-rating {
    font-size: 1.5em;
    letter-spacing: 0.05em;
    color:#f1bb0b
  }
  
  .recipe-rating span {
    color: var(--grey);
  }
  
  .recipe-votes {
    font-size: .825em;
    font-style: italic;
    color: var(--lightgrey);
  }
  
  .recipe-save {
    display: flex;
    align-items: center;
    padding: 6px 14px 6px 12px;
    border-radius: 4px;
    border: 2px solid currentColor;
    color: var(--primary);
    background: none;
    cursor: pointer;
  }
  
  .recipe-save svg {
    margin-right: 6px;
  }
.recipe-desc{
  margin: 0;
  font-size: clamp(0.5em, 1vw, 1em);
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
}

.recipe-desc.button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #e53935;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.recipe-desc.button:hover {
  background-color: #c62828;
}

#descripcion{
  margin-top: 10px;
  margin-bottom: -15px;
}

.recipe-desc2{
  margin: 0;
  font-size: clamp(0.7em, 1.2vw, 1.3em);
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: bold;
}



/* Estilo para cada elemento 'li' en la lista */
.platos-container li {
  display: flex;
  align-items: center;
}

/* Estilo para la imagen en cada elemento 'li' */
.platos-container li img {
  flex: 1; /* La imagen ocupará el 50% del espacio disponible */
  width: 250px;
  height: 150px;
  object-fit: cover;
  object-position: 50% 50%;
  margin:0 20px;
  border-radius: 5px;
}

/* Estilo para el contenido de la receta en cada elemento 'li' */
.platos-container li .recipe-content {
  flex: 1; /* El contenido ocupará el otro 50% del espacio disponible */
  padding-left: 20px; /* Añade un espacio entre la imagen y el contenido */
}


.Inicio h2 {
  border: 2px solid #f3a34d;
  border-radius: 8px;
  padding: 8px 16px;
  text-align: center;
  margin: 0;
  flex: 1;
}

/* PLATOS  */


/* Estilo para los botones */
.AgregarPlato,
.Plato button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  background-color: #eab740;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: clamp(0.3em, 0.9vw, 1.2em);
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;

}

/* Estilo para el efecto hover en los botones */

.AgregarPlato:hover,
.Plato button:hover {
  background-color: #e7a139;

}

.Platos-en-Orden{
  background: white;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 0 2px 3px rgba(159, 159, 159, 0.436);
  flex-direction: column;
  align-items: center;
}

.AddCliente {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #30ac0e;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.AddCliente:hover {
  background-color: #dfa53b;
}
.Cliente {
  margin-bottom: 20px;
}

.Cliente p {
  font-size: 20px;
  font-weight: bold;
}

.CrudCliente {
  width: 40%;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: initial;
  margin: auto;
}

.CrudCliente .Proporciona{
  display: flex;
}

.OpcionesCliente{
  display: flex;
  text-align: center;
}

.OpcionesCliente .AgregarCliente{
  background-color: rgb(214, 129, 8);
  padding: 10px;
  border: 1px solid rgb(252, 251, 251);
  cursor: pointer;
  flex:50%;
  color: #ffffff;
}

.OpcionesCliente .BuscarCliente{
  background-color: rgb(15, 96, 2);
  padding: 10px;
  border: 1px solid rgb(252, 251, 251);
  cursor: pointer;
  color: #fff;
  flex: 50%;
  width: 60%;
}

.tarjetaCliente{
  display: flex;
  cursor: pointer;
  padding: 8px;
  margin: 10px 20px;
  background-color: #ffffff;
  width: 100%;
}

.tarjetaCliente .nombreCliente, .tarjetaCliente .cedulaCliente{
  flex: 30%;
}

.tarjetaCliente .direccionCliente, .tarjetaCliente .telefonoCliente{
  flex: 20%;
}

.modalCliente{
  width: 80%;
}

.modalCliente .Buscar{
  padding: 5px;
  font-size: 12px;
  padding-left: 30px;
  width: 55%;
  margin: 15px;
  margin-left: 20px;
  margin-bottom: 0;
}

.imgBoton{
  width: 26px;
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  margin: 20px 0 0 22px;
}
.tipoOrdenContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 53vh;
  height: auto;
}

.tipoOrden {
  width: 100%;
  background-color: #f3a34d;
  min-height: 53vh;
  height: auto;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 3px rgba(159, 159, 159, 0.436);
  display: flex; /* Change to display flex */
  justify-content: center; /* Center the button horizontally */
}

.tipoOrden button {
  display: inline-block; /* Change display to inline-block */
  margin-top: 120px;
  margin-left: 10px;
  padding: 10px 20px;
  height: 20%;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #30ac0e;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.tipoOrden button:hover {
  background-color: #dfa53b;
}

.imagenContainer {
  width: 35%;
}

.imagenContainer img {
  width: 60%;
  height: auto;
}

/* Estilos para el formulario */
.formularioCliente {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Estilos para los campos de entrada */
.formularioCliente input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
}

/* Estilos para el botón "Agregar Usuario" */
.formularioCliente button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
  font-size: clamp(0.7em, 1.2vw, 1.3em);
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

/* Estilo para el adorno */
.formularioCliente button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  pointer-events: none;
}

/* Estilo para el efecto hover */
.formularioCliente button:hover {
  background-color: #209c3f;
  color: #ccc;
}
.check{
  transform: scale(0.5);
}
#Mesa,
#Observaciones {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  outline: none;
}
.Platos-en-Orden button {
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Estilo para el efecto hover en los botones */
.Platos-en-Orden button:hover {
  background-color: #1d7b22;
}

/* Estilo para el botón de "Cancelar" */
.Platos-en-Orden button:last-child {
  background-color: #b51c1c;
}

/* Estilo para el efecto hover en el botón de "Cancelar" */
.Platos-en-Orden button:last-child:hover {
  background-color: #5d0505;
}
.ordenes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.orden-item {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
}